@*@page
@model ShopApp.WebUI.Views.Admin.CategoryListModel
@{
}*@

@model CategoryListViewModel

<div class="row">
	<div class="col md-12">
		<h1 class="h3">Admin Categories</h1>
		<hr />
		<a asp-controller="admin" asp-action="createcategory" class="btn btn-primary btn-sm mb-3">Add Category</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td style="width: 30px">Id</td>
					<td>Name</td>
					<td>Url</td>
					<td style="width: 150px"></td>
				</tr>
			</thead>
			<tbody>
				@if (Model.Categories.Count() > 0)
				{
					@foreach (var item in Model.Categories)
					{
						<tr>
							<td>@item.CategoryId</td>
							<td>@item.Name</td>
							<td>@item.Url</td>
							<td>
								<a asp-controller="Admin" asp-action="EditCategory" asp-route-id="@item.CategoryId" class="btn btn-primary btn-sm mr-2">Edit</a>
								<a asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
					}
				}
				else
				{
					<div class="alert alert-warning">
						<h3>No Categories!</h3>
					</div>
				}
			</tbody>
		</table>
	</div>
</div>
